.m-widget24 .m-widget24__item .progress {
    margin-top: 1.5rem;
}

.m-widget24 .m-widget24__item .progress{
    margin-bottom: 1.5rem;
}
.m-widget24 .m-widget24__item .m-widget24__title {
    margin-top: 2.21rem;
    position: relative;
    top: 14px;
}
.text-cyan {
    color: #01c0c8!important;
}
.text-pink {
    color: #fb9678!important;
}
.text-purple {
    color: #ab8ce4!important;
}
.cart1-list{
    margin-top: 26px;
}
.m-portlet__head-title.position-relative{
    top: -10px;
}
.m-portlet__head-title.position-relative span{
    position: absolute;left: 0;
    top: 17px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #6c757d;
    min-width: 190%;
}
.my-table{
    min-width: 100%;
}
.my-table th:not(:first-child){
    width: 25% ;
}
.text-metal{
    color: #d2d4d6;
}
.m-widget3 .m-widget3__item{
    padding-bottom: 7px;
}
.m-login.m-login--1 .m-login__wrapper .m-login__logo{
    margin: 0 auto 3rem auto;
    max-width: 200px;
}
.btn-theme{
    color: #fff;
    background-color: #743959;
    border-color: #743959;
}
.btn-theme:hover{
    color: #fff;
    background-color: #9b437c;
    border-color: #9b437c;
}
.btn-outline-theme {
    color: #743959;
    background-color: transparent;
    background-image: none;
    border-color: #743959;
}
.btn-outline-theme:hover{
    border-color: #743959;
    background: #743959;
    color: #fff;
}
.delegate-information.m-timeline-3 .m-timeline-3__item:before{
    height: 80%;
    left: 0;
}
.delegate-information.m-timeline-3 .m-timeline-3__item .m-timeline-3__item-desc{
    padding-left: 1rem;
}